body, html
    line-height: 1
    font-weight: 200
    font-family: 'PingFang SC','STHeitiSC-Light','Helvetica-Light',arial,sans-serif

.clearfix
    display:inline-block
    &:after
        display:block
        content:"."
        height:0
        line-height:0
        claer:both
        visibility: hidden

@media(-webket-min-device-pixel-radio: 1.5),(min-device-pixel-radio: 1.5)
    .border-1px
        &::after
            -webket-transform: scale(0.7)
            transform: scale(0.7)
@media(-webket-min-device-pixel-radio: 2),(min-device-pixel-radio: 2)
    .border-1px
        &::after
            -webket-transform: scale(0.5)
            transform: scale(0.5)
